
@if (User.Identity.IsAuthenticated)
{
    

    <div class="row">
        <div class="col-md-8">
            <h4>Вы вошли как: @User.Identity.Name</h4>
        </div>
        <div class="col-md-4">
            <form method="post" asp-controller="Account" asp-action="LogOff">
                <input type="submit" value="Выход" />
            </form>
        </div>
    </div>
}
else
{
    <button class="btn btn-default"  onclick="location.href='@Url.Action("Login", "Account")'" >Вход</button>
    <button class="btn btn-default" onclick="location.href='@Url.Action("Register", "Account")'">Регистрация</button>
}