
@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <div class="row">
        <div class="col-md-8">
            <a asp-controller="Vehicle" asp-action="Index">ТС</a>
            <a asp-controller="Account" asp-action="Login">Марки</a>
            <a asp-controller="Account" asp-action="Login">Модели</a>
        </div>
        <form class="col-md-4" method="post" asp-controller="Account" asp-action="LogOff">
            <input type="submit" value="Выход" />
        </form>
    </div>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}